# 빌드 파일 & 실행 파일 제외
*.log
*.pyc
*.pyo
*.log
__pycache__/

# VSCode 설정 파일 제외
.vscode/

# ROS 2 colcon 빌드 디렉토리 제외
install/
build/
log/
Test_data/
bagfile/
colcon/
drowsiness_detection_app/
performance_evaluation/

src/drowsiness_detection/drowsiness_detection/shape_predictor_68_face_landmarks_GTX.dat
src/drowsiness_detection/drowsiness_detection/shape_predictor_68_face_landmarks.dat

src/srv_interfaces
src/dream.rviz
src/drowsiness_detection/resource/drowsiness_detection
src/dream.rviz